<%- include('../user/includes/layout.ejs') %>

<%- include('../user/includes/User-header.ejs') %>
<div class="breadcrumb-area pt-255 pb-170" style="background-image: url(assets/img/banner/banner-4.jpg)">
    <div class="container-fluid">
        <div class="breadcrumb-content text-center">
            <h2>About Us</h2>
        </div>
    </div>
</div>


<%- include('../user/includes/User-footer.ejs') %> 