<%- include('../user/includes/layout.ejs') %>

<%- include('../user/includes/User-header.ejs') %>
<div class="breadcrumb-area pt-255 pb-170" style="background-image: url(assets/img/banner/kerala-Desktop-2000x500.jpg)">
    <div class="container-fluid">
        <div class="breadcrumb-content text-center">
            <h2 style="color: black;">Destinations</h2>
        </div>
    </div>
</div>

<div class="accessories-area pt-152 pb-130">
    <div class="container-fluid">
        <div class="section-title section-fluid text-center mb-60">
            <p><span>SPIN THE WHEELS</span> - The most useful Bikershub which provides the riders to select the good destinations which they can chillout, purchase the bike accessories and riding gears, know the news and updates about the bikes, recent new models arrived etc.. </p>
        </div>
        <div class="accessories-wrapper">
            <div class="product-accessories-active owl-carousel">
                <div class="product-wrapper">
                    <div class="product-img">
                        <a href="#">
                            <img src="/assets/img/banner/05tvmhavoc.jpg" alt="">
                        </a>
                        <div class="product-action">
                            
                            <a class="action-cart-2" title="Wishlist" href="#">
                                <i class="bi bi-binoculars"></i>
                            </a>
                            
                        </div>
                        <div class="product-content-wrapper-2">
                            <div class="product-title-price-2 text-center">
                                <span></span>
                                <h4><a href="product-details.html"></a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('../user/includes/User-footer.ejs') %> 