<%- include('../user/includes/layout.ejs') %>

<header>
    <div class="header-area transparent-bar ptb-55">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-4">
                    <div class="logo-small-device">
                        <a  href="index.html"><img class="logoclass" alt="" src="/assets/img/logo/STW-removebg-preview.png"></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-8">
                    <div class="header-contact-menu-wrapper pl-45">
                        <div class="header-contact">
                            <p>WANT TO TALK WITH US  +01254 265 987</p>
                        </div>
                        <div class="menu-wrapper text-center">
                            <button class="menu-toggle">
                                <img class="s-open" alt="" src="/assets/img/icon-img/menu.png">
                                <img class="s-close" alt="" src="/assets/img/icon-img/menu-close.png">
                            </button>
                            <div class="main-menu">
                                <nav>
                                    <ul>
                                        <li><a href="/">home</a></li>
                                        <li class="active"><a href="/aboutus">about us </a></li>
                                        <li><a href="/shop">shop</a></li>
                                        <li><a href="/destinations">DESTINATIONS</a></li>
                                        <li><a href="/news">NEWS AND UPDATES</a></li>
                                        
                                        <li><a href="/login">Login</a></li>
                                           
                                        
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    
        
        
    </div>
</header>



<div class="breadcrumb-area pt-255 pb-170" style="background-image: url(assets/img/banner/banner-4.jpg)">
    <div class="container-fluid">
        <div class="breadcrumb-content text-center">
            <h2>SignUp</h2>
            
        </div>
    </div>
</div>


<div id="lg2" class="tab-pane" style="background:white;">
    <div class="login-form-container">
        <div class="login-form">
            
            <div style="height: 580px; background:black;border-radius: 30px; display: flex;">
                <div class="mx-auto w-50 mt-5">
                    <p class="error"><%= Err %></p>

                    
                    <form class="mx-auto" id="signupform" action="/signup" method="post">
                        <input class="signupfield" name="Fullname" type="text" placeholder="Fullname" required>
                        <input class="signupfield" name="Email" type="Email" placeholder="Email" required>
                        <input class="signupfield" id="phonenumber" name="Phone" type="number" placeholder="Phone" required minlength="10" maxlength="10">
                        <input class="signupfield" name="Password" type="password" placeholder="Password" required>
                        <input class="signupfield" name="ConfirmPassword" type="password"placeholder="Confirm Password" required>
                        <div class="button-box">
                            <button type="submit" class="btn-style cr-btn"><span>SignUp</span></button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <section class="vh-100 bg-image"
  >
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card mt-5" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">Your Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cg">Password</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->



<%- include('../user/includes/User-footer.ejs') %> 

<script src="/js/script.js"></script>
<script>
    function validation(){
        let phone=document.getElementById('phonenumber').value
        console.log(phone)
    }
    validation()
</script>