<header>
    <div class="header-area transparent-bar ptb-55">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-4">
                    <div class="logo-small-device">
                        <a  href="index.html"><img class="logoclass" alt="" src="/assets/img/logo/STW-removebg-preview.png"></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-8">
                    <div class="header-contact-menu-wrapper pl-45">
                        <div class="header-contact">
                            
                        </div>
                        <div class="menu-wrapper text-center">
                            <button class="menu-toggle">
                                <img class="s-open" alt="" src="/assets/img/icon-img/menu.png">
                                <img class="s-close" alt="" src="/assets/img/icon-img/menu-close.png">
                            </button>
                            <div class="main-menu">
                                <nav>
                                    <ul>
                                        <li><a href="/">home</a></li>
                                        <li class="active"><a href="/contactus">Contact Us</a></li>
                                        <li><a href="/shop">shop</a></li>
                                        <li><a href="/destinations">DESTINATIONS</a></li>
                                        <li><a href="/news">NEWS AND UPDATES</a></li>
                                        <%if(user){%>
                                            <li><a href="/Account">Account</a>
                                            <ul>
                                                <li><a href="/profile">Profile</a></li>
                                                <li><a href="/MyOrders">My Orders</a></li>
                                                <li><a href="/wishlist">Wishlist</a></li>
                                                <li><a href="/logout">Logout</a></li>
                                            </ul>
                                            </li>
                                        <%} else {%>
                                            <li><a href="/login">Login</a></li>
                                            <!-- <button >Login</button> -->
                                        <%} %>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-menu-area col-12">
                        <div class="mobile-menu">
                            <nav id="mobile-menu-active">
                                <ul>
                                    <li><a href="/">home</a></li>
                                    <li class="active"><a href="/aboutus">about us </a></li>
                                    <li><a href="/shop">shop</a></li>
                                    <li><a href="/destinations">DESTINATIONS</a></li>
                                    <li><a href="/news">NEWS AND UPDATES</a></li>
                                    <li><a href="/cart">CART</a></li>
                                    <%if(user){%>
                                        <li><a href="/Account">Account</a>
                                        <ul>
                                            <li><a href="/profile">Profile</a></li>
                                            <li><a href="/MyOrders">My Orders</a></li>
                                            <li><a href="/wishlist">Wishlist</a></li>
                                            <li><a href="/logout">Logout</a></li>
                                        </ul>
                                        </li>
                                    <%} else {%>
                                        <li><a href="/login">Login</a></li>
                                        <!-- <button >Login</button> -->
                                    <%} %>
                                </ul>
                            </nav>							
                        </div>
                    </div>
                    <div class="header-cart-wrapper">
                        <div class="header-cart">
                           <a href="/cart">                
                            <button class="icon-cart">
                                <i class="bi bi-cart"></i>
                                <span class="count-style">02</span>
                                <span class="count-price-add"></span>
                            </button> 
                            <a> 
                        </div>
                    </div>
            </div>
        </div>
        <div class="header-cart-wrapper">
            <div class="header-cart">
               <a href="/cart">                
                <button class="icon-cart">
                    <i class="bi bi-cart"></i>
                    <span class="count-style">02</span>
                    <span class="count-price-add"></span>
                </button> 
                <a> 
            </div>
        </div>
        
        
    </div>
</header>