<footer>
    <div class="footer-top pt-210 pb-98 theme-bg">
        <div class="container">
           <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer-widget mb-30">
                        <div class="footer-logo">
                            <a href="index.html">
                                <img src="/assets/img/logo/STW-removebg-preview.png" alt="" style="width: 50%;">
                            </a>
                        </div>
                        <div class="footer-about">
                            <p><span>SPINTHEWHEELS</span>The most useful Bikershub which provides the riders to select the good destinations which they can chillout, purchase the bike accessories and riding gears, know the news and updates about the bikes, recent new models arrived etc..  </p>
                            <div class="footer-support">
                                <h5>FOR SUPPORT</h5>
                                <span> 01245 658 698 (Toll Free)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer-widget mb-30 pl-60">
                        <div class="footer-widget-title">
                            <h3>QUICK LINK</h3>
                        </div>
                        <div class="quick-links">
                            <ul>
                                <li><a href="about-us.html">About us</a></li>
                                <li><a href="#">Service</a></li>
                                <li><a href="#">Inventory</a></li>
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="blog-sidebar.html">Blog</a></li>
                                <li><a href="#">Conditions</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer-widget mb-30">
                        <div class="footer-widget-title">
                            <h3>LATEST TWEET</h3>
                        </div>
                        <div class="food-widget-content pr-30">
                            <div class="single-tweet">
                                <p><a href="#">@Smith,</a> the most latgest bike store in the wold can serve you 
10 min ago</p>
                            </div>
                            <div class="single-tweet">
                                <p><a href="#">@Smith,</a> the most latgest bike store in the wold can serve you 
10 min ago</p>
                            </div>
                            <div class="single-tweet">
                                <p><a href="#">@Smith,</a> the most latgest bike store in the wold can serve you 
10 min ago</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer-widget mb-30">
                        <div class="footer-widget-title">
                            <h3>CONTACT INFO</h3>
                        </div>
                        <div class="food-info-wrapper">
                            <div class="food-address">
                                <div class="food-info-title">
                                    <span>Address</span>
                                </div>
                                <div class="food-info-content">
                                    <p>276 Jhilli Nogor, 4th folor, Momen Tower, Main Town, New Yourk</p>
                                </div>
                            </div>
                            <div class="food-address">
                                <div class="food-info-title">
                                    <span>Phone</span>
                                </div>
                                <div class="food-info-content">
                                    <p>+090 12568 369 987</p>
                                    <p>+090 12568 369 987</p>
                                </div>
                            </div>
                            <div class="food-address">
                                <div class="food-info-title">
                                    <span>Web</span>
                                </div>
                                <div class="food-info-content">
                                    <a href="#">info@oswanmega.com</a>
                                    <a href="#">www.oswanmega.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom ptb-35 black-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-12">
                    <div class="copyright">
                        <p>©Copyright, 2022 All Rights Reserved by <a href="#">HASTECH</a></p>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="footer-payment-method">
                        <a href="#"><img alt="" src="/assets/img/icon-img/payment.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/assets/js/vendor/jquery-1.12.0.min.js"></script>
        <script src="/assets/js/popper.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/isotope.pkgd.min.js"></script>
        <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
        <script src="/assets/js/jquery.counterup.min.js"></script>
        <script src="/assets/js/waypoints.min.js"></script>
        <script src="/assets/js/ajax-mail.js"></script>
        <script src="/assets/js/owl.carousel.min.js"></script>
        <script src="/assets/js/plugins.js"></script>
        <script src="/assets/js/main.js"></script>